.recent-search-item {
  border-bottom: solid 1px black;
}

.recent-search-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.recent-search-item-job-title {
  color: #2d2d2d;
}

.recent-search-item-job-location {
  color: #6f6f6f;
  font-size: 0.875rem;
}
