.saved-jobs-page-container {
  width: 100%;
  padding-top: 1rem;
  margin: auto;
}

.saved-jobs-page-container h2 {
  text-align: center;
}

.saved-jobs-container {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
