.job-details-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.job-details-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.job-details-company-logo {
  width: 6rem;
}

.job-details-apply-button {
  background-color: #2d2d2d;
  border: 0.125rem solid #2d2d2d;
  color: white;
  border-radius: 0.5rem;
  border-width: 1rem;
  font-weight: 750;
  font-size: 17px;
  width: 6rem;
  text-align: center;
}

.job-details-apply-button a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.job-details-apply-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .job-details-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .job-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
