.job-listings-container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1rem; 
  use the above code when you decide to add the JobListingSideBar back to the JobListings Page
  */
  width: 100%;
  padding-top: 1rem;
  margin: auto;
}

.job-listings-job-results-container {
  /*
  width: 65%;
  display: flex;
  flex-direction: column;
  use the above code when you decide to add the JobListingSideBar back to the JobListings Page
  */
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (max-width: 700px) {} */
